version: '3'

services:
  db:
    image: postgres:latest
    ports:
      - "5555:5432"
    environment:
      TZ: Europe/Moscow
      POSTGRES_USER: roles-manager
      POSTGRES_PASSWORD: password
      POSTGRES_DB: roles_manager

  api:
    build: backend
    restart: on-failure
    volumes:
      - ./backend:/var/www/apps/backend
    depends_on:
      - db

  nginx:
    build: nginx
    restart: on-failure
    volumes:
      - ./frontend:/var/www/apps/frontend
      - ./backend/api/public:/var/www/public/docs/api
    ports:
      - "8000:80"
    depends_on:
      - api
